<!DOCTYPE html>
<meta name="viewport" content="width=device-width">
<html> 
    <head><title>Return</title></head>
    <body> 
        <p>
        Returning
        </p>
        <p>
        Order: {{ order_id }}
        </p>

        <form action="/print.html" method="POST">
            <input type="hidden" name="order_id" value="{{ order_id }}"/>
            <table border="1">
                <tr>
                    <td>Product ID</td>
                    <td>Name</td>
                    <td>Size</td>
                    <td>Return reason</td>
                </tr>
                {% for product in product_list %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.size }}</td>
                    <td>
                        {% for reason in reason_list %}
                        {% if reason.default %}
                        <input type="radio" name="{{ product.id }}" value="{{ reason.id }}" checked="checked">{{ reason.description }}</input></br>
                        {% else %}
                        <input type="radio" name="{{ product.id }}" value="{{ reason.id }}">{{ reason.description }}</input></br>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Return">
        </form>
    </body> 
</html> 

